@inherits LayoutComponentBase

<div class="page bg-dark h-100">
    <div class="main bg-dark h-100">
        <div class="content px-4 bg-dark h-100">
            @Body
        </div>
    </div>
</div>
